/* ==================================
*  Menu (Lightbox)
*  =============================== */
#comp-k2p07gzeinlineContent a:hover,
#comp-k2p07gzeinlineContent a:active {
    color: black;
}

/* ==================================
*  Success pages
*  =============================== */
#sportos-results {
    border: 1px dashed white;
    padding: 30px 30px 20px 30px;
    color: white;
    display: flex;
    width: 940px;
}

.results-col.col1 {
    padding-right: 20px;
    min-width: 440px;
}

.gender-relationship {
    font-family: poppins-semibold, poppins, sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.4;
    padding-bottom: 20px;
}

.age-location {
    font: normal normal normal 28px/1.4em wfont_b42ed2_a83f8c519d414abdbdb0d73c9aa9e357,wf_a83f8c519d414abdbdb0d73c9,orig_adihausdin_cn;
    text-transform: uppercase;
    padding-bottom: 20px;
    display: flex;
}

    .age-location h3 {
        padding-right: 20px;
    }

.focus {
    display: flex;
    flex-wrap: wrap;
}

.sportos-focus-item {
    width: 120px;
    height: 120px;
    border: 1px solid white;
    font-size: 15px;
    text-align: center;
    margin: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2 .sportos-block {
    display: flex;
    margin-bottom: 30px;
}

    .col2 .sportos-block h3 {
        font: normal normal normal 28px/1.4em wfont_b42ed2_a83f8c519d414abdbdb0d73c9aa9e357,wf_a83f8c519d414abdbdb0d73c9,orig_adihausdin_cn;
        text-transform: uppercase;
        text-align: right;
        width: 120px;
        padding-right: 10px;
    }

.col2 h3.sportos-label {
    min-width: 120px;
}

.col2 .sportos-block .tool-tip-container {
    padding-right: 10px;
}

.col2 .sportos-value {
    font-size: 15px;
}

.sportos-values-item {
    cursor: pointer;
    color: #707070;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    font: normal normal normal 16px/1.4em wfont_b42ed2_a83f8c519d414abdbdb0d73c9aa9e357,wf_a83f8c519d414abdbdb0d73c9,orig_adihausdin_cn;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
}

    .sportos-values-item:hover {
        color: white;
        background-color: rgba(212, 212, 212, 1);
    }

/* Custom tooltips */
.tool-tip-container {
    position: relative;
    height: 30px;
}

.col2 .sportos-block .tool-tip-container:hover .tool-tip-inner {
    display: inline-block;
}

.col2 .sportos-block .tool-tip-container .tool-tip-inner {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    top: unset;
    transform: translateX(-50%);
    width: 200px;
    background: lightgray;
    padding: 20px;
    font-size: 13px;
    color: black;
}

    .col2 .sportos-block .tool-tip-container .tool-tip-inner:before {
        content: "";
        border-color: #d3d3d3 transparent;
        border-style: solid;
        border-width: 10px 10px 0px 20px;
        position: absolute;
        left: 48%;
        transform: translateX(-50%);
        top: 100%;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }


/* ==================================
*  Other pages
*  =============================== */

/* The container for the checkboxes     */
/* Note: Wix creates unique class names  /
/        for each form element          */
.style-k2qetugm_vertical-axis .style-k2qetugmitems,
.style-k2qh1i5g_vertical-axis .style-k2qh1i5gitems,
.style-k2qjaf1titems {
    flex-direction: row;
    flex-wrap: wrap;
}

.style-k2qetugmcheckbox_with-label,
.style-k2qh1i5gcheckbox_with-label {
    padding-right: 40px;
    padding-bottom: 30px;
}
/* Radiobuttons get their own padding & sizing */
.style-k2qjaf1tradioButton {
    padding-right: 20px;
    padding-bottom: 40px;
}

.style-k2qjaf1titems > * {
    flex-basis: 200px;
}

/* The checkboxes and labels */
div.style-k2qetugmcheckbox_with-label.style-k2qetugmcheckbox,
div.style-k2qh1i5gcheckbox_with-label.style-k2qh1i5gcheckbox,
div.style-k2qjaf1tradioButton {
    position: relative;
    height: 200px;
    width: 200px;
}

label.style-k2qetugmcheckboxcontainer,
label.style-k2qh1i5gcheckboxcontainer,
label.style-k2qjaf1tradioButtoncontainer {
    position: absolute;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 1px solid #707070;
}

input.style-k2qetugmcheckboxinput,
input.style-k2qh1i5gcheckboxinput,
input.style-k2qjaf1tradioButtonradio-input {
    position: absolute;
    clip: rect(0,0,0,0);
    height: 200px;
    width: 200px;
}

span.style-k2qetugmcheckboxcheckbox,
span.style-k2qh1i5gcheckboxcheckbox {
    display: none;
}

div.style-k2qjaf1tradioButton_with-validation-indication.style-k2qjaf1tradioButton_left-direction.style-k2qjaf1tradioButton {
    width: 200px !important;
}

div.style-k2qetugmcheckboxcheckmark,
div.style-k2qh1i5gcheckboxcheckmark,
div.style-k2qjaf1tradioButtoncircle-shadow,
div.style-k2qjaf1tradioButtoncircle {
    position: absolute;
    height: 200px !important;
    width: 200px !important;
    display: block;
    margin: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
}

    div.style-k2qetugmcheckboxcheckmark svg,
    div.style-k2qh1i5gcheckboxcheckmark svg {
        display: none;
    }

input.style-k2qetugmcheckboxinput:hover ~ div.style-k2qetugmcheckboxcheckmark,
input.style-k2qetugmcheckboxinput:checked ~ div.style-k2qetugmcheckboxcheckmark,
input.style-k2qh1i5gcheckboxinput:hover ~ div.style-k2qh1i5gcheckboxcheckmark,
input.style-k2qh1i5gcheckboxinput:checked ~ div.style-k2qh1i5gcheckboxcheckmark,
input.style-k2qjaf1tradioButtonradio-input:hover ~ div.style-k2qjaf1tradioButtoncircle-shadow {
    background-color: #707070 !important;
    display: block !important;
}

div.style-k2qetugmcheckboxlabel,
div.style-k2qh1i5gcheckboxlabel,
div.style-k2qjaf1tradioButtontext {
    position: absolute;
    margin: 0 !important;
    padding: 0 15px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
}

input.style-k2qetugmcheckboxinput:hover ~ .style-k2qetugmcheckboxlabel .style-k2qetugmcheckboxtext,
input.style-k2qetugmcheckboxinput:checked ~ .style-k2qetugmcheckboxlabel .style-k2qetugmcheckboxtext,
input.style-k2qh1i5gcheckboxinput:hover ~ .style-k2qh1i5gcheckboxlabel .style-k2qh1i5gcheckboxtext,
input.style-k2qh1i5gcheckboxinput:checked ~ .style-k2qh1i5gcheckboxlabel .style-k2qh1i5gcheckboxtext,
input.style-k2qjaf1tradioButtonradio-input:hover ~ .style-k2qjaf1tradioButtontext,
input.style-k2qjaf1tradioButtonradio-input:checked ~ .style-k2qjaf1tradioButtontext {
    color: white !important;
}

input.style-k2qetugmcheckboxinput:active ~ div.style-k2qetugmcheckboxcheckmark,
input.style-k2qh1i5gcheckboxinput:active ~ div.style-k2qh1i5gcheckboxcheckmark {
    background-color: darkgray !important;
}

/* When the form is not selected, fix that hover color */
.style-k2qjaf1tradioButtoncontainer:hover .style-k2qjaf1tradioButtoncircle-shadow .style-k2qjaf1tradioButtoncircle, .style-k2qjaf1tradioButtoncontainer[data-preview~="hover"] .style-k2qjaf1tradioButtoncircle-shadow .style-k2qjaf1tradioButtoncircle {
    background-color: #707070;
}

/* ==================================
*  Tooltip text for checkboxes
*  =============================== */
span[class*="checkboxtext"]::after,
div[class*="radioButtontext"]::after {
    text-transform: none;
    padding: 10px;
    display: none;
    font-size: 16px;
    margin-top: -10px;
}

div[class*="checkbox_with-label"]:hover span[class*="checkboxtext"]::after,
div[class*="radioButton_left-direction"]:hover div[class*="radioButtontext"]::after {
    display: block;
}
/* Hide the main label on hover... */
div[class*="checkbox_with-label"]:hover span[class*="checkboxtext"],
div[class*="radioButton_left-direction"]:hover div[class*="radioButtontext"] {
    font-size: 0;
}

/* Checkboxes on page 1 of form */
#comp-k2qh1frqcheckbox0text::after {
    content: 'A firm or fixed intention to achieve a desired outcome without giving up.';
}

#comp-k2qh1frqcheckbox1text::after {
    content: 'A strong desire to do or to achieve something.';
}

#comp-k2qh1frqcheckbox2text::after {
    content: 'Honesty and having strong moral principles.';
}

#comp-k2qh1frqcheckbox3text::after {
    content: 'An influential role within a group of people or an organization.';
}

#comp-k2qh1frqcheckbox4text::after {
    content: 'Representing individuality through words, art, symbols, movement, etc.';
}

#comp-k2qh1frqcheckbox5text::after {
    content: 'Attaining successful results gained by effort, courage and/or skill.';
}

/* Radio buttons on page 2 of form */
#comp-k2qj5t61radio0text::after {
    content: 'Ability to apply force at a high rate of speed at any instant moving from one position to another.';
}

#comp-k2qj5t61radio1text::after {
    content: 'Ability to cover distances in a straight line fast.';
}

#comp-k2qj5t61radio2text::after {
    content: 'Ability to gather, deliver, store and utilize oxygen to produce sustained physical activity.';
}

#comp-k2qj5t61radio3text::after {
    content: 'Ability to move quickly in a variety of directions.';
}

#comp-k2qj5t61radio4text::after {
    content: "The ability to perceive and achieve a future outcome based on one's sense of capacity to handle challenge";
}

#comp-k2qj5t61radio5text::after {
    content: 'Ability to meet the mental and physical demands of challenges as they come.';
}
